<div class="org-dash">
  <div class="org-dash-title-row">
    <h1 class="org-dash-name"><%= @organization.name %></h1>

    <div class="dropdown org-switcher">
      <button class="btn dropdown-toggle org-switcher-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-exchange-alt" aria-hidden="true"></i> Switch
      </button>

      <div class="dropdown-menu org-switcher-menu">
        <h6 class="dropdown-header">Switch organization</h6>

        <% @user_organizations.each do |item| %>
          <% org = item[:organization] %>
          <%= link_to overview_organization_path(org),
                      class: "dropdown-item org-switcher-item #{'is-current' if current_org?(org)}" do %>
            <span class="org-switcher-badge">
              <% if org.logo.attached? %>
                <%= image_tag org.logo, alt: "" %>
              <% else %>
                <%= initials(org) %>
              <% end %>
            </span>
            <span class="org-switcher-info">
              <span class="org-switcher-name"><%= org.name %></span>
              <span class="org-switcher-meta"><%= item[:role].capitalize %> · <%= pluralize(item[:group_count], "group") %></span>
            </span>
            <% if current_org?(org) %>
              <i class="fa fa-check org-switcher-check" aria-hidden="true"></i>
            <% end %>
          <% end %>
        <% end %>

        <div class="dropdown-divider"></div>

        <%= link_to new_organization_path, class: "dropdown-item org-switcher-create" do %>
          <i class="fa fa-plus" aria-hidden="true"></i> Create organization
        <% end %>
      </div>
    </div>
  </div>

  <%# Tabs %>
  <nav class="org-dash-tabs" aria-label="Organization sections">
    <%= link_to "Overview", overview_organization_path(@organization), class: tab_class("overview") %>
    <%= link_to "Members", members_organization_path(@organization), class: tab_class("members") %>
    <% if show_settings_tab? %>
      <%= link_to "Settings", settings_organization_path(@organization), class: tab_class("settings") %>
    <% end %>
  </nav>

  <hr class="org-dash-divider">

  <%= tab_content %>
</div>