<div class="org-dash mx-auto text-body">
  <h1 class="org-dash-name fw-semibold mb-3"><%= @organization.name %></h1>

  <nav class="d-flex gap-2 flex-wrap" aria-label="<%= t('organizations.tabs.nav_label') %>">
    <%= link_to t("organizations.tabs.overview"), overview_organization_path(@organization), class: tab_class("overview") %>
    <%= link_to t("organizations.tabs.members"), members_organization_path(@organization), class: tab_class("members") %>
    <% if show_settings_tab? %>
      <%= link_to t("organizations.tabs.settings"), settings_organization_path(@organization), class: tab_class("settings") %>
    <% end %>
  </nav>

  <hr class="org-dash-divider mt-3 mb-4">

  <%= tab_content %>
</div>